.Board {
  display: grid;
  grid-template-rows: repeat(4, 90px);
  grid-gap: 10px;
  margin: 20px;
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-gap: 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  background: white;
  border: 0px;
}

.game-over-overlay,
.game-win-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.game-over-content,
.game-win-content {
  text-align: center;
}

.game-over-content button,
.game-win-content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}